
<div class="post d-flex flex-column-fluid" id="kt_post" style="background: url('/assets/close_account_bg.jpg')">
  <div class="d-flex flex-column flex-center flex-column-fluid">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-center text-center p-10">
      <!--begin::Wrapper-->
      <div class="card card-flush w-lg-650px">
        <div class="card-body py-15 py-lg-20">
          <!--begin::Logo-->
          <div class="mb-14">
            <a href="/" class=""><img alt="Logo" src="/assets/voxi_logo.png" class="h-40px"></a>
          </div>
          <!--end::Logo-->
          <!--begin::Title-->
          <h1 class="fw-bolder text-gray-900 mb-5"><%= t('profile.close_account.deactivated') %></h1>
          <!--end::Title-->

          <!--begin::Link-->
          <div class="mb-11">
            <a href="https://voxiplan.com" class="btn btn-sm btn-primary"><%= t('profile.close_account.goto_voxiplan') %></a>
          </div>
          <!--end::Link-->
          <!--begin::Illustration-->
          <div class="mb-0">
            <img src="/assets/close_account_membership.png" class="mw-100 mh-300px theme-light-show" alt="">
          </div>
          <!--end::Illustration-->
        </div>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Content-->
  </div>
</div>
<!--end::Post-->
