<%= content_tag :div, class: 'vpComponent' do  %>
  <a href="<%= path %>">
    <div class="vpNavIcon">
      <i class="flaticon-browser"></i>
      <div class="vpLabel"><%= label %></div>
      <div class="vpDesc"><%= desc %></div>
    </div>
  </a>
<% end %>
