<div class="tab-pane" id="tab_password" role="tabpanel">
  <div class="kt-form kt-form--label-right">
    <div class="kt-form__body">
      <div class="kt-section kt-section--first">
        <div class="kt-section__body">
          <div class="row">
            <label class="col-xl-3"></label>
            <div class="col-lg-6 col-xl-6">
              <h3 class="kt-section__title kt-section__title-sm">Change Or Recover Your Password:</h3>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Current Password</label>
            <div class="col-lg-6 col-xl-6">
              <%= f.password_field :current_password, class: "form-control", autofocus: true, autocomplete: "new-password", placeholder: "Current password" %>
              <!--  <a href="#" class="kt-link kt-font-sm kt-font-bold kt-margin-t-5">Forgot password ?</a> -->
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
            <div class="col-lg-6 col-xl-6">
              <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "new-password", placeholder: "New password" %>
            </div>
          </div>
          <div class="form-group form-group-last row">
            <label class="col-xl-3 col-lg-3 col-form-label">Verify Password</label>
            <div class="col-lg-6 col-xl-6">
              <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "Verify password" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
