<div id="kt_header" class="kt-header kt-grid__item kt-header--fixed " data-ktheader-minimize="on" >
  <div class="kt-header__top">
    <div class="kt-container">
      <!-- begin:: Brand -->
      <div class="kt-header__brand kt-grid__item" id="kt_header_brand">
        <div class="kt-header__brand-logo">
          <a href="?page=index">
            LOGO
          </a>
        </div>
        <div class="kt-header__brand-nav">
          <div class="dropdown">
            <button type="button" class="btn btn-pill btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Main Menu</button>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md">
              <%= render 'theme/shared/main_menu_items' %>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: Brand -->
      <!-- begin:: Header Topbar -->
      <div class="kt-header__topbar">
        <!--begin: Search -->
        <!--end: Search -->
        <!--begin: Notifications -->
        <!--end: Notifications -->
        <!--begin: Quick actions -->
        <!--end: Quick actions -->
        <!--begin: Cart -->
        <!--end: Cart-->
        <!--begin: Quick panel toggler -->
        <!--end: Quick panel toggler -->
        <!--begin: Language bar -->
        <!--end: Language bar -->
        <!--begin: User bar -->
        <!--end: User bar -->
      </div>
  <!-- end:: Header Topbar -->
    </div>
  </div>
  <div class="kt-header__bottom">
    <div class="kt-container">
      <!-- begin: Header Menu -->
      <%= render 'theme/shared/header_menu' %>
      <!-- end: Header Menu -->
    </div>
  </div>
</div>
