<li class="kt-menu__item kt-menu__item--active " aria-haspopup="true">
  <a href="<%= item.path %>" class="kt-menu__link ">
    <i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
    <span class="kt-menu__link-text"><%= item.label %></span>
  </a>
</li>
