---
http_interactions:
- request:
    method: get
    uri: https://api.timify.com/v1/auth/token?appid=TIMIFY_APP_ID&appsecret=TIMIFY_APP_SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 24609017-f324-450a-9c03-f2a286fcb3ba
      X-Amzn-Remapped-Content-Length:
      - '823'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - XeXlMEKqliAFX1g=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"337-eJkKM0/lrUHB9fTvw2SSmV5YR0c"
      X-Amzn-Remapped-Date:
      - Fri, 26 Aug 2022 14:04:30 GMT
    body:
      encoding: UTF-8
      string: '{"accessToken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoU2NvcGUiOiJBUFAiLCJ1c2VySWQiOiI2MWYwNDhlMTkyMjE3ZTExMTA1NGIxNjIiLCJhY2NvdW50SWQiOmZhbHNlLCJyZWdpb24iOmZhbHNlLCJsb25nU2Vzc2lvbiI6ZmFsc2UsImxvbmdBY2Nlc3NUb2tlbkR1cmF0aW9uIjpmYWxzZSwidmVyc2lvbiI6Miwiand0SWQiOiI2MzA4ZDJlZGExNDgyYWQwODBmY2JhYWMiLCJpYXQiOjE2NjE1MjI2NjksImV4cCI6MTY2MTUyOTg2OX0.9sLtSh5ZLwy1acZ3WzWx97SqPYX4AOO-84NB3i6dgi0","refreshToken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoU2NvcGUiOiJBUFAiLCJ1c2VySWQiOiI2MWYwNDhlMTkyMjE3ZTExMTA1NGIxNjIiLCJhY2NvdW50SWQiOmZhbHNlLCJyZWdpb24iOmZhbHNlLCJsb25nU2Vzc2lvbiI6ZmFsc2UsImxvbmdBY2Nlc3NUb2tlbkR1cmF0aW9uIjpmYWxzZSwidmVyc2lvbiI6Miwiand0SWQiOiI2MzA4ZDJlZGExNDgyYWQwODBmY2JhYWMiLCJyZWZyZXNoIjp0cnVlLCJpYXQiOjE2NjE1MjI2NjksImV4cCI6MTY2MTg2ODI2OX0.iQs3RYcGkmtYAnSX7vUnsCxWHJJHSsXWgx6JnCnwUJo","expires":7200}'
  recorded_at: Mon, 24 Sep 2018 04:00:00 GMT
- request:
    method: get
    uri: https://api.timify.com/v1/resources/5d9f2a7b6d95c0112ca1cc91/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoU2NvcGUiOiJBUFAiLCJ1c2VySWQiOiI2MWYwNDhlMTkyMjE3ZTExMTA1NGIxNjIiLCJhY2NvdW50SWQiOmZhbHNlLCJyZWdpb24iOmZhbHNlLCJsb25nU2Vzc2lvbiI6ZmFsc2UsImxvbmdBY2Nlc3NUb2tlbkR1cmF0aW9uIjpmYWxzZSwidmVyc2lvbiI6Miwiand0SWQiOiI2MzA4ZDJlZGExNDgyYWQwODBmY2JhYWMiLCJpYXQiOjE2NjE1MjI2NjksImV4cCI6MTY2MTUyOTg2OX0.9sLtSh5ZLwy1acZ3WzWx97SqPYX4AOO-84NB3i6dgi0
      Company-Id:
      - TIMIFY_TEST_COMPANY_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b9bf83c9-b2c3-418a-bb8b-a079abda5390
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - XeXlcHDLliAFnDQ=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"814-o2XUNGtzyQtQJPPDRkhLoa0Pqus"
      X-Amzn-Remapped-Date:
      - Fri, 26 Aug 2022 14:04:31 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"5d9f2a7b6d95c0112ca1cc91","externalId":"","userId":"5d9f2a7b6d95c0112ca1cc88","email":"lincoeur@gmail.com","name":"Axel
        Voxiplan","color":"","avatarUrl":"","isBookable":true,"calendar":{"id":"5d9f2a7b6d95c0112ca1cc91","workingTimes":[{"isActive":false,"beginTime":"","endTime":"","times":[]},{"isActive":true,"beginTime":"","endTime":"","times":[{"begin":"08:00","end":"18:00"}]},{"isActive":true,"beginTime":"","endTime":"","times":[{"begin":"08:00","end":"18:00"}]},{"isActive":true,"beginTime":"","endTime":"","times":[{"begin":"08:00","end":"18:00"}]},{"isActive":true,"beginTime":"","endTime":"","times":[{"begin":"08:00","end":"18:00"}]},{"isActive":true,"beginTime":"","endTime":"","times":[{"begin":"08:00","end":"18:00"}]},{"isActive":false,"beginTime":"","endTime":"","times":[]}],"bookingTimes":[{"isActive":false,"beginTime":"","endTime":"","times":[]},{"isActive":true,"beginTime":"","endTime":"","times":[{"begin":"08:00","end":"18:00"}]},{"isActive":true,"beginTime":"","endTime":"","times":[{"begin":"08:00","end":"18:00"}]},{"isActive":true,"beginTime":"","endTime":"","times":[{"begin":"08:00","end":"18:00"}]},{"isActive":true,"beginTime":"","endTime":"","times":[{"begin":"08:00","end":"18:00"}]},{"isActive":true,"beginTime":"","endTime":"","times":[{"begin":"08:00","end":"18:00"}]},{"isActive":false,"beginTime":"","endTime":"","times":[]}],"timezone":"Europe/London"},"isAdmin":true,"isOwner":true,"locale":"en-gb","permissions":{"accountRead":null,"calendarReadSet":null,"calendarReadResourceIds":null,"calendarReadResourceCategoryIds":null,"calendarWrite":null,"calendarDelete":null,"statisticsRead":null,"notificationsRead":null,"customersReadSet":null,"customersReadResourceIds":null,"customersReadResourceCategoryIds":null,"customersWrite":null,"customersDelete":null,"appsRead":null,"resourcesReadSet":null,"resourcesReadResourceIds":null,"resourcesReadResourceCategoryIds":null,"shiftRead":null,"shiftWrite":null,"shiftDelete":null},"createdAt":"2019-10-10T12:56:27Z","updatedAt":"2022-01-28T12:52:22Z","ts":0},"status":1}'
  recorded_at: Mon, 24 Sep 2018 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.timify.com/v1/resources/?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoU2NvcGUiOiJBUFAiLCJ1c2VySWQiOiI2MWYwNDhlMTkyMjE3ZTExMTA1NGIxNjIiLCJhY2NvdW50SWQiOmZhbHNlLCJyZWdpb24iOmZhbHNlLCJsb25nU2Vzc2lvbiI6ZmFsc2UsImxvbmdBY2Nlc3NUb2tlbkR1cmF0aW9uIjpmYWxzZSwidmVyc2lvbiI6Miwiand0SWQiOiI2MzA4ZDJmMTcyMDQwZDVmYjgzYmM2MzYiLCJpYXQiOjE2NjE1MjI2NzMsImV4cCI6MTY2MTUyOTg3M30.GHH1-6eXjX9z71nR9mekbwvdlo1AC9GEz7DjoOZZhnI
      Company-Id:
      - TIMIFY_TEST_COMPANY_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - d8dba6d5-7b34-4046-be07-d04a293c7f62
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - XeXmBHcoliAFfuA=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"533-L0JiNHxa7R31+FFo8Odc+TqLUS0"
      X-Amzn-Remapped-Date:
      - Fri, 26 Aug 2022 14:04:35 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"5d9f2a7b6d95c0112ca1cc91","externalId":"","userId":"5d9f2a7b6d95c0112ca1cc88","categoryId":"5d9f2a7b6d95c0112ca1cc8f","email":"lincoeur@gmail.com","name":"Axel
        Voxiplan","color":"#6882b0","avatarUrl":"","isBookable":true,"orderIndex":1,"account":{"isAdmin":true,"providers":["EMAIL"]},"calendar":{"id":"5d9f2a7b6d95c0112ca1cc91","workingTimes":[{"isActive":false,"times":[]},{"isActive":true,"times":[{"beginTime":"08:00","endTime":"18:00"}]},{"isActive":true,"times":[{"beginTime":"08:00","endTime":"18:00"}]},{"isActive":true,"times":[{"beginTime":"08:00","endTime":"18:00"}]},{"isActive":true,"times":[{"beginTime":"08:00","endTime":"18:00"}]},{"isActive":true,"times":[{"beginTime":"08:00","endTime":"18:00"}]},{"isActive":false,"times":[]}],"bookingTimes":[{"isActive":false,"times":[]},{"isActive":true,"times":[{"beginTime":"08:00","endTime":"18:00"}]},{"isActive":true,"times":[{"beginTime":"08:00","endTime":"18:00"}]},{"isActive":true,"times":[{"beginTime":"08:00","endTime":"18:00"}]},{"isActive":true,"times":[{"beginTime":"08:00","endTime":"18:00"}]},{"isActive":true,"times":[{"beginTime":"08:00","endTime":"18:00"}]},{"isActive":false,"times":[]}],"timezone":"Europe/London","threads":1},"createdAt":"2019-10-10T12:56:27.000Z","updatedAt":"2022-01-28T12:52:22.000Z","ts":"1643374342932"}],"status":1}'
  recorded_at: Mon, 24 Sep 2018 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.timify.com/v1/services/5d9f2ac56d95c0112ca1ccab/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoU2NvcGUiOiJBUFAiLCJ1c2VySWQiOiI2MWYwNDhlMTkyMjE3ZTExMTA1NGIxNjIiLCJhY2NvdW50SWQiOmZhbHNlLCJyZWdpb24iOmZhbHNlLCJsb25nU2Vzc2lvbiI6ZmFsc2UsImxvbmdBY2Nlc3NUb2tlbkR1cmF0aW9uIjpmYWxzZSwidmVyc2lvbiI6Miwiand0SWQiOiI2MzA4ZDJmNTAwMGE2NzQ4YTk4OGI3M2EiLCJpYXQiOjE2NjE1MjI2NzcsImV4cCI6MTY2MTUyOTg3N30.kNyy7yHvQmSA4oAnM4XeasXUIb6AcyPCE4GId-l-zQM
      Company-Id:
      - TIMIFY_TEST_COMPANY_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 9be0df8b-af8a-4205-9e30-bad3e3c03e63
      X-Amzn-Remapped-Content-Length:
      - '884'
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - XeXmkHSeFiAFpqA=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"374-SxOS21lDEiOtoEVz2Yw8aVXQTsI"
      X-Amzn-Remapped-Date:
      - Fri, 26 Aug 2022 14:04:38 GMT
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5d9f2ac56d95c0112ca1ccab","externalId":"s1","globalId":null,"name":"Client
        meeting","description":"","categoryId":"5d9f2a7b6d95c0112ca1cc8d","duration":60,"durationBefore":0,"durationAfter":0,"durationsPattern":[60],"color":"#385f87","price":0,"isBookable":true,"isStalled":false,"isPaymentMandatory":false,"hasOnlinePayment":false,"maxParticipants":0,"dependencies":[{"name":"","resourceCategories":null,"resources":[],"resourcesIds":["5d9f2a7b6d95c0112ca1cc91"],"workParallel":false,"stalled":false}],"shape":[["5d9f2a7b6d95c0112ca1cc91"]],"calendar":null,"isCombination":false,"combinationServiceIds":[],"isCombinationPriceOverwritten":false,"hasCombinationSameResourcesPreference":false,"customerEmailRemindersMinutes":null,"resourceEmailRemindersMinutes":null,"orderIndex":1,"createdAt":"2022-08-26T14:04:38Z","updatedAt":"2022-08-26T14:04:38Z","ts":0},"status":1}'
  recorded_at: Mon, 24 Sep 2018 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.timify.com/v1/booker-services/availabilities/?company_id=TIMIFY_TEST_COMPANY_ID&days%5B%5D=2018-09-24&days%5B%5D=2018-09-25&days%5B%5D=2018-09-26&days%5B%5D=2018-09-27&days%5B%5D=2018-09-28&days%5B%5D=2018-09-29&days%5B%5D=2018-09-30&days%5B%5D=2018-10-01&days%5B%5D=2018-10-02&days%5B%5D=2018-10-03&days%5B%5D=2018-10-04&days%5B%5D=2018-10-05&days%5B%5D=2018-10-06&days%5B%5D=2018-10-07&days%5B%5D=2018-10-08&days%5B%5D=2018-10-09&days%5B%5D=2018-10-1[...]
[...]
