---
http_interactions:
- request:
    method: post
    uri: https://api-de.cronofy.com/v1/availability
    body:
      encoding: UTF-8
      string: '{"participants":[],"required_duration":{"minutes":30},"query_periods":[{"start":"2019-04-23T04:00:05Z","end":"2019-04-23T12:00:00Z"},{"start":"2019-04-24T04:00:00Z","end":"2019-04-24T12:00:00Z"},{"start":"2019-04-25T04:00:00Z","end":"2019-04-25T12:00:00Z"},{"start":"2019-04-26T04:00:00Z","end":"2019-04-26T12:00:00Z"},{"start":"2019-04-29T04:00:00Z","end":"2019-04-29T12:00:00Z"},{"start":"2019-04-30T04:00:00Z","end":"2019-04-30T12:00:00Z"},{"start":"2019-05-01T04:00:00Z","end":"2019-05-01T12:00:00Z"},{"start":"2019-05-02T04:00:00Z","end":"2019-05-02T12:00:00Z"},{"start":"2019-05-03T04:00:00Z","end":"2019-05-03T12:00:00Z"},{"start":"2019-05-06T04:00:00Z","end":"2019-05-06T12:00:00Z"},{"start":"2019-05-07T04:00:00Z","end":"2019-05-07T12:00:00Z"},{"start":"2019-05-08T04:00:00Z","end":"2019-05-08T12:00:00Z"},{"start":"2019-05-09T04:00:00Z","end":"2019-05-09T12:00:00Z"},{"start":"2019-05-10T04:00:00Z","end":"2019-05-10T12:00:00Z"},{"start":"2019-05-13T04:00:00Z","end":"2019-05-13T12:00:00Z"},{"start":"2019-05-14T04:00:00Z","end":"2019-05-14T12:00:00Z"},{"start":"2019-05-15T04:00:00Z","end":"2019-05-15T12:00:00Z"},{"start":"2019-05-16T04:00:00Z","end":"2019-05-16T12:00:00Z"},{"start":"2019-05-17T04:00:00Z","end":"2019-05-17T12:00:00Z"},{"start":"2019-05-20T04:00:00Z","end":"2019-05-20T12:00:00Z"},{"start":"2019-05-21T04:00:00Z","end":"2019-05-21T12:00:00Z"},{"start":"2019-05-22T04:00:00Z","end":"2019-05-22T12:00:00Z"},{"start":"2019-05-23T04:00:00Z","end":"2019-05-23T12:00:00Z"}],"start_interval":{"minutes":30},"response_format":"slots","buffer":{"before":{"minutes":0},"after":{"minutes":0}},"max_results":512}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CRN_vg4dRm7LXAVWf21yzlGvZMGW1eztuNYMQ6m7ub
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"errors":{"query_periods[0].start":[{"key":"errors.min_date_exceeded","description":"date
        is too far in the past"}],"query_periods[1].start":[{"key":"errors.min_date_exceeded","description":"date
        is too far in the past"}],"query_periods[2].start":[{"key":"errors.min_date_exceeded","description":"date
        is too far in the past"}],"query_periods[3].start":[{"key":"errors.min_date_exceeded","description":"date
        is too far in the past"}],"query_periods[4].start":[{"key":"errors.min_date_exceeded","description":"date
        is too far in the past"}],"que[...]
[...]
