---
http_interactions:
- request:
    method: get
    uri: https://emailvalidation.abstractapi.com/v1/?api_key=EMAIL_VALIDATION_API_KEY&email=mian.mbilal.iqbal@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"email":"mian.mbilal.iqbal@gmail.com","autocorrect":"","deliverability":"DELIVERABLE","quality_score":"0.95","is_valid_format":{"value":true,"text":"TRUE"},"is_free_email":{"value":true,"text":"TRUE"},"is_disposable_email":{"value":false,"text":"FALSE"},"is_role_email":{"value":false,"text":"FALSE"},"is_catchall_email":{"value":false,"text":"FALSE"},"is_mx_found":{"value":true,"text":"TRUE"},"is_smtp_valid":{"value":true,"text":"TRUE"}}'
  recorded_at: Mon, 04 Jul 2022 17:54:03 GMT
recorded_with: VCR 6.0.0
