<!--begin::Logo-->
<div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 pe-4">
  <a href="<%= root_path() %>">
    <img alt="Logo" src="/assets/voxi_logo.png" style="width: 45px;"/>
  </a>
</div>
<!--end::Logo-->
<!--begin::Wrapper-->
<div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
  <%= render 'theme/metronic_v8_partials/header-menu' %>
  <%= render 'theme/metronic_v8_partials/header-toolbar' %>
</div>

