<div class="m-portlet m-portlet--tab">
  <div class="m-portlet__body col-lg-10">

    <h3>Looks great, <%= current_client.first_name %>.</h3>
    
    <p>Your appointment menu is ready. </p>

    <p>You can always come back and make changes to your texts and setttings later on.</p>

    <%= link_to "Go To Dashboard", root_path, class: "btn btn-success"%>
  </div>
</div>

