<div class="m-portlet m-portlet--tab">
  <div class="m-portlet__body col-lg-10">
    <h4>Getting started </h4>

    <h3>Set up appointment scheduling over the phone with Laura.</h3>
    
    <p>To reduce interruptions during your work day, I can help your callers book appointments over the phone.</p>

    <p>When you connect your online agenda and enable this feature, callers that want to book an appointment will enter the appointment scheduling menu. As your assistant, I will look for empty slots in your agenda and suggest them to your callers.</p>

    <p>Click 'Continue' to customize each step of your appointment scheduling menu and edit your settings.</p>
    
    <%= link_to "continue", announcement_appoinments_scheduling_index_path, class: "btn btn-success"%>
  </div>
</div>
