.vpNavIconsWrapper {
  display: flex;
}

.vpNavIcon {
  text-align: center;
  margin-right: 50px;

  .vpLabel {
    margin-top: 5px;
    font-size: 1.2rem;
  }

  .vpDesc {
    font-size: 1rem;
  }

  i {
    font-size: 5.5rem;
    line-height: 4.5rem;
  }
}
