---
http_interactions:
- request:
    method: post
    uri: https://api.cronofy.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=4ahi6GiIhgrxxcJ7HA3ISXo3Y7JINoq0&client_secret=CRONOFY_CLIENT_SECRET&grant_type=refresh_token&refresh_token=CRONOFY_REFRESH_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"q33TE2IIaHsCM6wrvIH7X7EWIGD9FCgs","token_type":"bearer","expires_in":10800,"refresh_token":"CRONOFY_REFRESH_TOKEN","scope":"create_event
        list_calendars read_account delete_event read_free_busy create_calendar read_events"}'
  recorded_at: Tue, 23 Apr 2019 04:00:00 GMT
- request:
    method: post
    uri: https://api.cronofy.com/v1/calendars/cal_XINva9B2PhfuWCFH_DwWD9i7M4LrXM-pbHFxsOQ/events
    body:
      encoding: UTF-8
      string: '{"event_id":"5c16231bececb9af0a774ffce03f9c84","summary":"Appointment
        for A B 919770555563","description":"First name: A \nLast name: B \nPhone
        number: 919770555563 \n","start":"2019-04-23T04:00:00Z","end":"2019-04-23T04:30:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer q33TE2IIaHsCM6wrvIH7X7EWIGD9FCgs
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 23 Apr 2019 04:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.cronofy.com/v1/availability
    body:
      encoding: UTF-8
      string: '{"participants":[{"members":[{"sub":"acc_5692658db4ccd0137100868a","calendar_ids":["cal_XINva9B2PhfuWCFH_DwWD9i7M4LrXM-pbHFxsOQ"]}],"required":"1"}],"required_duration":{"minutes":30},"available_periods":[{"start":"2019-04-23T04:00:05Z","end":"2019-04-23T12:00:00Z"},{"start":"2019-04-24T04:00:00Z","end":"2019-04-24T12:00:00Z"},{"start":"2019-04-25T04:00:00Z","end":"2019-04-25T12:00:00Z"},{"start":"2019-04-26T04:00:00Z","end":"2019-04-26T12:00:00Z"},{"start":"2019-04-29T04:00:00Z","end":"2019-04-29T12:00:00Z"},{"start":"2019-04-30T04:00:00Z","end":"2019-04-30T12:00:00Z"},{"start":"2019-05-01T04:00:00Z","end":"2019-05-01T12:00:00Z"},{"start":"2019-05-02T04:00:00Z","end":"2019-05-02T12:00:00Z"},{"start":"2019-05-03T04:00:00Z","end":"2019-05-03T12:00:00Z"}],"start_interval":{"minutes":30}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer 6Ppqlsl3xo6vPy_vRfk4PuzV_LXmernQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a0d55c7214239a20b7277fd09f85e868"
    body:
      encoding: ASCII-8BIT
      string: '{"available_periods":[{"start":"2019-04-23T04:30:00Z","end":"2019-04-23T12:00:00Z","participants":[{"sub":"acc_5692658db4ccd0137100868a"}]},{"start":"2019-04-24T04:00:00Z","end":"2019-04-24T12:00:00Z","participants":[{"sub":"acc_5692658db4ccd0137100868a"}]},{"start":"2019-04-25T04:00:00Z","end":"2019-04-25T12:00:00Z","participants":[{"sub":"acc_5692658db4ccd0137100868a"}]},{"start":"2019-04-26T04:00:00Z","end":"2019-04-26T12:00:00Z","participants":[{"sub":"acc_5692658db4ccd0137100868a"}]},{"start":"2019-04-29T04:00:00Z","end":"2019-04-29T12:00:00Z","participants":[{"sub":"acc_5692658db4ccd0137100868a"}]},{"start":"2019-04-30T04:00:00Z","end":"2019-04-30T12:00:00Z","participants":[{"sub":"acc_5692658db4ccd0137100868a"}]},{"start":"2019-05-01T04:00:00Z","end":"2019-05-01T12:00:00Z","participants":[{"sub":"acc_5692658db4ccd0137100868a"}]},{"start":"2019-05-02T04:00:00Z","end":"2019-05-02T12:00:00Z","participants":[{"sub":"acc_5692658db4ccd0137100868a"}]},{"start":"2019-05-03T04:00:00Z","end":"2019-05-03T12:00:00Z","participants":[{"sub":"acc_5692658db4ccd0137100868a"}]}]}'
  recorded_at: Tue, 23 Apr 2019 04:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.cronofy.com/v1/calendars/cal_XINva9B2PhfuWCFH_DwWD9i7M4LrXM-pbHFxsOQ/events
    body:
      encoding: UTF-8
      string: '{"event_id":"test001","summary":"Appointment for A B 919770555563","description":"First
        name: A \nLast name: B \nPhone number: 919770555563 \n","start":"2019-04-23T04:30:00Z","end":"2019-04-23T05:00:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer prRnpfFATvFQ2g3_JBHb8uqLUxe1e_2G
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 23 Apr 2019 04:00:00 GMT
recorded_with: VCR 4.0.0
